---
import Layout from "../../layout.astro";
---

<Layout
  lang="en"
  title="CV - William Darian"
  description="Former Principal Software Engineer with 5+ years of TypeScript experience. Passionate about building enjoyable experiences through the use of software and rigorous problem solving skills. Proficient in state management, i18n, and responsive designs. Led development of major digital banking app at Cermati.com and now exploring job opportunities in Tokyo, Japan."
  keywords={[
    "Principal Software Engineer",
    "Full Stack Developer",
    "Web Developer",
    "TypeScript",
    "Cermati.com",
    "blu by BCA Digital",
    "BCA Lifestyle",
    "Tokyo job opportunities",
    "Front-end Development",
    "Back-end Development",
    "Mobile App Development",
    "Indonesian",
    "English",
    "Japanese",
  ]}
  author="William Darian"
  class="flex flex-col font-serif"
>
  <main class="flex max-w-screen-md flex-col gap-4 self-center">
    <section>
      <h1 class="pb-2 text-center text-xl font-bold">William Darian</h1>
      <p class="leading-tight">
        Higashi Nakano, Nakano, Tokyo 164-0003 <br />
        williamdariansutedjo@gmail.com <br />
        linkedin.com/in/william-darian-sutedjo <br />
        github.com/risk1996
      </p>
    </section>

    <section>
      <h2 class="text-lg font-bold">Summary</h2>
      <hr />
      <p>
        Former Principal Software Engineer with 5+ years of TypeScript
        experience. Passionate about building enjoyable user experiences through
        the use of software and rigorous problem solving techniques. Specialized
        in front-end development, encompassing state management, i18n, and
        responsive design, with solid knowledge and experience in back-end
        development. Led the mobile app development of a major digital banking
        app at Cermati.com. Currently seeking software engineering opportunities
        in Tokyo, Japan.
      </p>
    </section>

    <section>
      <h2 class="text-lg font-bold">Education</h2>
      <hr />
      <div class="flex flex-col gap-4">
        <div>
          <div class="grid grid-cols-[1fr_1fr_1fr]">
            <h3 class="font-bold">Computer Engineering Bachelor</h3>
            <p class="italic">UMN, Banten, Indonesia</p>
            <p class="text-right italic">Aug 2015 - Dec 2019</p>
          </div>
          <ul class="list-disc pl-4">
            <li>Valedictorian, graduated summa cum laude (GPA 3.96).</li>
            <li>
              Active in student council organization and competitive programming
              club.
            </li>
            <li>
              Won local computer networking and national IoT competitions.
            </li>
            <li>Awarded 12-day study visit to Köln, Germany by DAAD.</li>
          </ul>
        </div>
      </div>
    </section>

    <section>
      <h2 class="text-lg font-bold">Professional Experience</h2>
      <hr />
      <div class="flex flex-col gap-4">
        <div>
          <div class="grid grid-cols-[1fr_1fr_1fr]">
            <h3 class="font-bold">Principal Software Engineer</h3>
            <p class="italic">Cermati.com, Jakarta, Indonesia</p>
            <p class="text-right italic">Mar 2023 - Mar 2024</p>
          </div>
          <ul class="list-disc pl-4">
            <li>
              Led the development of a unified financial services user
              registration backend for the Cermati.com app.
            </li>
            <li>
              Developed and maintained a centralized user registration approval
              system, enabling internal reviewers to approve or reject users
              according to the company's risk management policies.
            </li>
            <li>
              Designed and implemented database-level encryption for PII to
              ensure user data security.
            </li>
          </ul>
          <p class="italic">Achievements:</p>
          <ul class="list-disc pl-4">
            <li>
              Reduced friction and registration time by streamlining the process
              for Mutual Fund and Digital Gold services.
            </li>
            <li>
              Enhanced system reliability and performance through comprehensive
              unit, integration, and load testing.
            </li>
          </ul>
          <p>
            <span class="italic">Tech stack:</span>
            Java, Spring Boot, Reactor/Webflux, Keycloak, TestNG, Prometheus, Grafana,
            GCP, Docker, Kubernetes, PostgreSQL, MongoDB, Redis.
          </p>
        </div>

        <div>
          <div class="grid grid-cols-[1fr_1fr_1fr]">
            <h3 class="font-bold">Senior Software Engineer</h3>
            <p class="italic">Cermati.com, Jakarta, Indonesia</p>
            <p class="text-right italic">Sep 2020 - Mar 2023</p>
          </div>
          <ul class="list-disc pl-4">
            <li>
              Led the development of a cross-platform mobile banking app,
              offering services such as savings, time deposits, transfers,
              contactless payments via QRIS, debit cards, and foreign currency
              exchange.
            </li>
            <li>
              Led the implementation of a robust multi-factor authentication
              system and video call KYC process to enhance user security and
              compliance.
            </li>
          </ul>
          <p class="italic">Achievements:</p>
          <ul class="list-disc pl-4">
            <li>
              Introduced TypeScript to the company's development practices,
              reducing runtime errors and improving code maintainability through
              static type checking.
            </li>
            <li>
              Established the code structure, architecture, and vertical
              separation, using an inversion of control library to maintain a
              fast development cycle as the codebase and team size grew.
            </li>
            <li>
              Improved ratings to 4.6 stars on Google Play (94k+ reviews) and
              4.8 stars on the App Store (30k+ reviews).
            </li>
          </ul>
          <p>
            <span class="italic">Tech stack:</span>
            TypeScript, React Native, Redux, Styled System, REST API, Firebase.
          </p>
        </div>

        <div>
          <div class="grid grid-cols-[1fr_1fr_1fr]">
            <h3 class="font-bold">Junior Software Engineer</h3>
            <p class="italic">Cermati.com, Jakarta, Indonesia</p>
            <p class="text-right italic">Aug 2019 - Sep 2020</p>
          </div>
          <ul class="list-disc pl-4">
            <li>
              Developed a complete movie ticket purchasing system as part of
              Indonesia's largest bank's mobile app.
            </li>
          </ul>
          <p class="italic">Achievements:</p>
          <ul class="list-disc pl-4">
            <li>
              Created seamless user experiences for purchasing tickets and
              viewing e-tickets directly within the app.
            </li>
            <li>
              Successfully delivered a smooth movie ticketing experience used by
              millions of customers.
            </li>
            <li>
              Created an interactive, touch-first experience for selecting
              seats, showing seats availability, matching seat layouts to the
              actual cinemas, and providing zoom/pan functionality tailored to
              small screens.
            </li>
          </ul>
          <p>
            <span class="italic">Tech stack:</span>
            JavaScript, React, Redux, Styled Components, Webpack, REST APIs.
          </p>
        </div>

        <div>
          <div class="grid grid-cols-[1fr_1fr_1fr]">
            <h3 class="font-bold">Web Developer Intern</h3>
            <p class="italic">Frisidea, Jakarta, Indonesia</p>
            <p class="text-right italic">Jul 2018 - Jan 2019</p>
          </div>
          <ul class="list-disc pl-4">
            <li>
              Sole developer responsible for building a dormitory management
              system from scratch using Laravel.
            </li>
            <li>
              Gathered business requirements from stakeholders, implemented the
              database schema, and provided demonstrations on how to use the
              system to ensure a smooth handoff to the client.
            </li>
          </ul>
          <p class="italic">Achievements:</p>
          <ul class="list-disc pl-4">
            <li>
              Delivered the project on time, replacing a manual Excel-based
              system with an automated web-based solution that met all
              functional requirements.
            </li>
          </ul>
          <p>
            <span class="italic">Tech stack:</span>
            PHP, Laravel, MySQL, Bootstrap, jQuery.
          </p>
        </div>
      </div>
    </section>

    <section>
      <h2 class="text-lg font-bold">Skills</h2>
      <hr />
      <ul class="list-disc pl-4">
        <li>
          <span class="italic">Programming Languages:</span>
          TypeScript, HTML, CSS, Rust, Java, Kotlin, C/C++, Swift.
        </li>
        <li>
          <span class="italic">Front-End Technologies:</span>
          NextJS, React Native, SolidJS, Astro, Tailwind, Styled Components, Vite.
        </li>
        <li>
          <span class="italic">Back-End Technologies:</span>
          Spring Boot, Express, tRPC, Firebase, OAuth, REST, GraphQL.
        </li>
        <li>
          <span class="italic">Testing:</span>
          Jest, Vitest, React Testing Library, TestNG, Mockito, Locust.
        </li>
        <li>
          <span class="italic">DevOps:</span>
          RHEL, CentOS, Ubuntu, GitHub Actions, Docker, GCP, AWS, Pulumi.
        </li>
        <li>
          <span class="italic">Databases:</span>
          PostgreSQL, SQLite, MySQL, MongoDB, Redis.
        </li>
        <li>
          <span class="italic">Natural Languages:</span>
          Indonesian (native), English (TOEIC 955), Japanese (JLPT N3).
        </li>
      </ul>
    </section>

    <section>
      <h2 class="text-lg font-bold">Other Interest</h2>
      <hr />
      <p>
        Computer Science, Computer Security, Mathematics, Cryptography, UI/UX.
      </p>
    </section>

    <section>
      <h2 class="text-lg font-bold">References</h2>
      <hr />
      <p>Available upon request.</p>
    </section>
  </main>
</Layout>

<style>
  @media print {
    @page {
      size: A4;
    }

    body {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }
  }
</style>
