---
import Layout from "../../layout.astro";
---

<Layout
  lang="en"
  title="CV - William Darian"
  description="Former Principal Software Engineer with 5+ years of TypeScript experience. Passionate about building enjoyable experiences through the use of software and rigorous problem solving skills. Proficient in state management, i18n, and responsive designs. Led development of major digital banking app at Cermati.com and now exploring job opportunities in Tokyo, Japan."
  keywords={[
    "Principal Software Engineer",
    "Full Stack Developer",
    "Web Developer",
    "TypeScript",
    "Cermati.com",
    "blu by BCA Digital",
    "BCA Lifestyle",
    "Tokyo job opportunities",
    "Front-end Development",
    "Back-end Development",
    "Mobile App Development",
    "Indonesian",
    "English",
    "Japanese",
  ]}
  author="William Darian"
  class="flex flex-col font-serif"
>
  <main class="flex max-w-screen-md flex-col gap-4 self-center">
    <section>
      <h1 class="pb-2 text-center text-xl font-bold">William Darian</h1>
      <p class="leading-tight">
        Higashi Nakano, Nakano, Tokyo 164-0003 <br />
        williamdariansutedjo@gmail.com <br />
        linkedin.com/in/william-darian-sutedjo <br />
        github.com/risk1996
      </p>
    </section>

    <section>
      <h2 class="text-lg font-bold">Summary</h2>
      <hr />
      <p>
        Former Principal Software Engineer with 5+ years of TypeScript
        experience. Passionate about building enjoyable experiences through the
        use of software and rigorous problem solving skills. Proficient in
        front-end development including state management, i18n, and responsive
        designs. Familiar with back-end development with security, robustness,
        accountability, and observability in mind. Led development of major
        digital banking app at Cermati.com and now exploring job opportunities
        in Tokyo, Japan.
      </p>
    </section>

    <section>
      <h2 class="text-lg font-bold">Education</h2>
      <hr />
      <div class="flex flex-col gap-4">
        <div>
          <div class="grid grid-cols-[1fr_1fr_1fr]">
            <h3 class="font-bold">Computer Engineering Bachelor</h3>
            <p class="italic">UMN, Banten, Indonesia</p>
            <p class="text-right italic">Aug 2015 - Dec 2019</p>
          </div>
          <ul class="list-disc pl-4">
            <li>Valedictorian, graduated summa cum laude (GPA 3.96).</li>
            <li>
              Active in student council organization and competitive programming
              club.
            </li>
            <li>
              Won local computer networking and national IoT competitions.
            </li>
            <li>Awarded 12-day study visit to Köln, Germany by DAAD.</li>
          </ul>
        </div>
      </div>
    </section>

    <section>
      <h2 class="text-lg font-bold">Professional Experience</h2>
      <hr />
      <div class="flex flex-col gap-4">
        <div>
          <div class="grid grid-cols-[1fr_1fr_1fr]">
            <h3 class="font-bold">Principal Software Engineer</h3>
            <p class="italic">Cermati.com, Jakarta, Indonesia</p>
            <p class="text-right italic">Mar 2023 - Mar 2024</p>
          </div>
          <ul class="list-disc pl-4">
            <li>
              Built a unified financial services user registration backend for
              the Cermati.com application.
            </li>
            <li>
              Developed a centralized user registration data approval backend
              for internal reviewers.
            </li>
          </ul>
          <p class="italic">Achievements:</p>
          <ul class="list-disc pl-4">
            <li>
              Minimized friction and reduced the time required for users to
              register for Mutual Fund and Digital Gold services.
            </li>
            <li>
              Ensured high confidence in the end-to-end flow through unit,
              integration, and load tests.
            </li>
            <li>
              Designed database-level encryption for sensitive user data (PII).
            </li>
          </ul>
          <p>
            <span class="italic">Tech stack:</span>
            Java, Spring Boot, Reactor/Webflux, Keycloak, TestNG, Prometheus, Grafana,
            GCP, Docker, Kubernetes, PostgreSQL, MongoDB, Redis
          </p>
        </div>

        <div>
          <div class="grid grid-cols-[1fr_1fr_1fr]">
            <h3 class="font-bold">Senior Software Engineer</h3>
            <p class="italic">Cermati.com, Jakarta, Indonesia</p>
            <p class="text-right italic">Sep 2020 - Mar 2023</p>
          </div>
          <ul class="list-disc pl-4">
            <li>
              Built a cross-platform mobile application for a digital bank
              offering numerous financial services, e.g. savings, time deposits,
              transfers, online purchases, contactless payments via QRIS,
              virtual and physical debit cards, and foreign currency exchange.
            </li>
            <li>
              Architected a robust multi-factor authentication and registration
              process with video call KYC.
            </li>
          </ul>
          <p class="italic">Achievements:</p>
          <ul class="list-disc pl-4">
            <li>
              Introduced and utilized TypeScript to the company's selection of
              programming languages to minimize runtime errors by leveraging
              static type checking across the entire codebase and its
              dependencies.
            </li>
            <li>
              Established the code structure, application architecture, and
              vertical separation, using an inversion of control library to
              maintain a fast development cycle as the codebase and team size
              grew.
            </li>
            <li>
              Created an enjoyable customer experience on both Android (4.6
              stars out of 94k reviews on Google Play Store) and iOS (4.8 stars
              out of 30k reviews on App Store).
            </li>
          </ul>
          <p>
            <span class="italic">Tech stack:</span>
            TypeScript, React Native, Redux, Styled System, REST API, Firebase
          </p>
        </div>

        <div>
          <div class="grid grid-cols-[1fr_1fr_1fr]">
            <h3 class="font-bold">Junior Software Engineer</h3>
            <p class="italic">Cermati.com, Jakarta, Indonesia</p>
            <p class="text-right italic">Aug 2019 - Sep 2020</p>
          </div>
          <ul class="list-disc pl-4">
            <li>
              Built complete movie ticket purchasing as a part of a mobile
              shopping experience of Indonesia's largest bank.
            </li>
          </ul>
          <p class="italic">Achievements:</p>
          <ul class="list-disc pl-4">
            <li>
              Enabled seamless movie ticket purchases, seat selection, and
              e-ticket viewing.
            </li>
            <li>
              Created an interactive, touch-first experience for selecting
              seats, showing seats availability, matching seat layouts to the
              actual cinemas, and providing zoom/pan functionality tailored to
              small screens.
            </li>
          </ul>
          <p>
            <span class="italic">Tech stack:</span>
            JavaScript, React, Redux, Styled Components, Webpack, REST APIs.
          </p>
        </div>

        <div>
          <div class="grid grid-cols-[1fr_1fr_1fr]">
            <h3 class="font-bold">Web Developer Intern</h3>
            <p class="italic">Frisidea, Jakarta, Indonesia</p>
            <p class="text-right italic">Jul 2018 - Jan 2019</p>
          </div>
          <ul class="list-disc pl-4">
            <li>
              Solo-developer building dormitory management system from scratch
              using Laravel.
            </li>
            <li>
              Gathered requirements, designed database schema, and wrote
              tutorials for end-users.
            </li>
          </ul>
          <p class="italic">Achievements:</p>
          <ul class="list-disc pl-4">
            <li>
              Project completed on time and met all functional requirements.
            </li>
            <li>
              Replaced manual Excel-based system with automated web-based
              system.
            </li>
          </ul>
          <p>
            <span class="italic">Tech stack:</span>
            PHP, Laravel, MySQL, Bootstrap, jQuery.
          </p>
        </div>
      </div>
    </section>

    <section>
      <h2 class="text-lg font-bold">Skills</h2>
      <hr />
      <ul class="list-disc pl-4">
        <li>
          <span class="italic">Programming Languages:</span>
          TypeScript, HTML, CSS, Rust, Java, Kotlin, C/C++, Swift.
        </li>
        <li>
          <span class="italic">Front-End Technologies:</span>
          NextJS, React DOM, React Native, SolidJS, Tailwind, Styled Components,
          Vite.
        </li>
        <li>
          <span class="italic">Back-End Technologies:</span>
          Spring Boot, Express, tRPC, Firebase, OAuth, REST, GraphQL.
        </li>
        <li>
          <span class="italic">Testing:</span>
          Jest, Vitest, React Testing Library, TestNG, Mockito, Locust.
        </li>
        <li>
          <span class="italic">DevOps:</span>
          RHEL, CentOS, Ubuntu, GitHub Actions, Docker, GCP, AWS, Pulumi.
        </li>
        <li>
          <span class="italic">Databases:</span>
          PostgreSQL, SQLite, MySQL, MongoDB, Redis.
        </li>
        <li>
          <span class="italic">Natural Languages:</span>
          Indonesian (native), English (TOEIC 955), Japanese (JLPT N3).
        </li>
      </ul>
    </section>

    <section>
      <h2 class="text-lg font-bold">Other Interest</h2>
      <hr />
      <p>
        Computer Science, Computer Security, Mathematics, Cryptography, UI/UX.
      </p>
    </section>

    <section>
      <h2 class="text-lg font-bold">References</h2>
      <hr />
      <p>Available upon request.</p>
    </section>
  </main>
</Layout>

<style>
  @media print {
    @page {
      size: A4;
    }

    body {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }
  }
</style>
