---
import Bio from "../components/bio.astro";
import Faceshot from "../components/faceshot.astro";
import Footer from "../components/footer.astro";
import Heading from "../components/heading.astro";
import PersonalDevelopment from "../components/personal-development.astro";
import Profile from "../components/profile.astro";
import Projects from "../components/projects.astro";
import Sidebar from "../components/sidebar.astro";
import Layout from "../layout.astro";
---

<Layout
  lang="en"
  title="William Darian | Principal Software Engineer"
  description="Valedictorian in Computer Engineering from Universitas Multimedia Nusantara. Former Principal Software Engineer with expertise in full stack development, React Native, NextJS, and back-end technologies like Spring Boot and Express. Led development of major digital banking apps at Cermati.com and now exploring job opportunities in Tokyo, Japan."
  keywords={[
    "Principal Software Engineer",
    "Full Stack Developer",
    "React Native",
    "NextJS",
    "Spring Boot",
    "tRPC",
    "Rust",
    "WebAssembly",
    "Digital Banking",
    "Cermati.com",
    "blu by BCA Digital",
    "BCA Lifestyle",
    "Tokyo job opportunities",
    "Valedictorian",
    "Computer Engineering",
    "Universitas Multimedia Nusantara",
    "Competitive Programming",
    "Front-end Development",
    "Back-end Development",
    "Mobile App Development",
  ]}
  author="William Darian"
  class="flex flex-col bg-treehouse-50 p-4 text-tapa-900 selection:bg-treehouse-400 md:p-10"
>
  <main class="grid max-w-screen-lg grid-cols-12 gap-4 self-center">
    <Heading class="col-span-12 md:col-span-8" />

    <div class="col-span-12 pt-4 md:col-span-4 md:row-span-2 md:pt-0">
      <Faceshot class="md:-mt-16" />
      <Profile />
      <Sidebar class="mt-6" />
    </div>

    <div class="col-span-12 md:col-span-8">
      <Bio class="md:pt-2" />
      <hr class="border-tapa-600" />
      <PersonalDevelopment class="mt-4" />
    </div>

    <div class="break-before-page screen:hidden print:h-4"></div>

    <Projects class="col-span-12 mt-2" />
  </main>

  <Footer class="mt-6 print:mt-0" />
</Layout>

<style>
  @media print {
    @page {
      size: A4;
    }

    body {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
      zoom: 77%;
    }
  }
</style>
