---
import Bio from "../components/bio.astro";
import Footer from "../components/footer.astro";
import Heading from "../components/heading.astro";
import PersonalDevelopment from "../components/personal-development.astro";
import Profile from "../components/profile.astro";
import Projects from "../components/projects.astro";
import Ribbon from "../components/ribbon.astro";
import Sidebar from "../components/sidebar.astro";
import Layout from "../layout.astro";
---

<Layout title="William Darian's Curriculum Vitae">
  <main class="grid max-w-screen-lg grid-cols-12 gap-4 self-center">
    <div class="col-span-8">
      <div class="flex self-start">
        <Ribbon class="-mt-10 h-[200px] w-[48px]" />
        <Heading class="flex-grow pl-4" />
      </div>

      <Bio class="pt-8" />
      <hr class="border-tapa-600" />
      <PersonalDevelopment class="pt-8" />
    </div>

    <div class="col-span-4">
      <Profile class="-mt-10" />
      <Sidebar class="mt-6" />
    </div>

    <Projects class="col-span-12" />
  </main>

  <Footer class="mt-8" />
</Layout>
