---
import Bio from "../components/bio.astro";
import Footer from "../components/footer.astro";
import Heading from "../components/heading.astro";
import PersonalDevelopment from "../components/personal-development.astro";
import Profile from "../components/profile.astro";
import Projects from "../components/projects.astro";
import Sidebar from "../components/sidebar.astro";
import Layout from "../layout.astro";
---

<Layout title="William Darian | Principal Software Engineer">
  <main class="grid max-w-screen-lg grid-cols-12 gap-4 self-center">
    <div class="col-span-8">
      <Heading />
      <Bio class="pt-8" />
      <hr class="border-tapa-600" />
      <PersonalDevelopment class="mt-6" />
    </div>

    <div class="col-span-4">
      <Profile class="-mt-10" />
      <Sidebar class="mt-6" />
    </div>

    <div class="break-before-page screen:hidden print:h-4"></div>

    <Projects class="col-span-12 mt-2" />
  </main>

  <Footer class="mt-6 print:mt-2" />
</Layout>

<style>
  @media print {
    @page {
      size: A4;
    }

    body {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
      zoom: 78%;
    }
  }
</style>
