---
import Bio from "../components/bio.astro";
import Heading from "../components/heading.astro";
import Ribbon from "../components/ribbon.astro";
import Layout from "../layout.astro";
---

<Layout title="Astro">
  <div
    class="grid-cols-[repeat(12, fit-content(calc(100% / 12)))] grid-rows-[repeat(12, fit-content(calc(100% / 12)))] grid gap-2"
  >
    <div class="col-span-8 flex flex-row self-start">
      <Ribbon class="-mt-10 w-12" />
      <Heading class="flex-grow pl-4" />
    </div>

    <Bio class="col-span-8 row-start-2" />
  </div>
</Layout>
