---
interface Props {
  class?: string;
}
---

<article class={Astro.props.class}>
  <p class="pb-2 text-justify text-base text-tapa-800">
    I graduated as a valedictorian of the Computer Engineering undergraduate
    program from Universitas Multimedia Nusantara in Indonesia. Previously, I
    served as a Principal Software Engineer, specializing in front-end web and
    cross-platform mobile development using TypeScript, React, React Native, and
    NextJS. On the back-end, I am proficient in Spring Boot, ExpressJS, and
    tRPC. I also keep a close eye on Rust and WebAssembly advances for potential
    future projects.
  </p>
  <p class="pb-2 text-justify indent-8 text-base text-tapa-800">
    At Cermati.com, I led the development of the "blu by BCA Digital" mobile app
    for the digital banking sector and contributed significantly to the movie
    vertical on the BCA Lifestyle application. I used to enjoy competitive
    programming using C/C++ in the past. Beyond coding, I am an avid reader of
    non-fiction books covering topics from web development, computer science,
    computer security, UI/UX, mathematics, blockchain, and Internet-of-Things
    (IoT).
  </p>
  <p class="pb-2 text-justify indent-8 text-base text-tapa-800">
    I am currently actively exploring job opportunities in Tokyo, Japan.
  </p>
</article>
