---
interface Props {
  class?: string;
}
---

<article class={Astro.props.class}>
  <p
    class="pb-2 text-justify text-base text-tapa-800 first-letter:float-left first-letter:-mt-1 first-letter:text-[72px] first-letter:leading-[76px]"
  >
    Graduated as valedictorian of the Computer Engineering undergraduate program
    from Universitas Multimedia Nusantara in Indonesia. Previously worked as a
    full stack Principal Software Engineer, specializing in front-end web and
    cross-platform mobile development using React Native and NextJS. On the
    back-end, proficient in Spring Boot, Express, and tRPC, with a keen interest
    in Rust and WebAssembly advances for potential future projects.
  </p>
  <p class="pb-2 text-justify indent-8 text-base text-tapa-800">
    At Cermati.com, led the development of the “blu by BCA Digital” mobile app
    for the digital banking sector and made significant contributions to the
    movie vertical on the BCA Lifestyle application. Previously engaged in
    competitive programming using C/C++. Beyond coding, an avid reader of
    non-fiction books covering topics such as web development, computer science,
    computer security, UI/UX, mathematics, blockchain, and the Internet of
    Things (IoT).
  </p>
  <p class="pb-2 text-justify indent-8 text-base text-tapa-800">
    Currently actively exploring job opportunities in Tokyo, Japan.
  </p>
</article>
