---
import { twMerge } from "tailwind-merge";
import Ribbon from "./ribbon.astro";

interface Props {
  class?: string;
}
---

<header class={twMerge("flex self-start", Astro.props.class)}>
  <Ribbon class="-mt-10 h-[200px] w-[48px]" />

  <div class="pl-4">
    <h1 class="text-6xl font-black uppercase">
      <span class="tracking-[-0.009em] text-tapa-700"> William </span>
      <br />
      <span class="tracking-widest"> Darian </span>
    </h1>
    <hr class="w-16 border-t-4 border-tapa-600 pb-2" />
    <h2 class="text-2xl uppercase tracking-wide text-tapa-600">
      Software Engineer
    </h2>
  </div>
</header>
