---
interface Props {
  class?: string;
  name: string;
  desc: string;
  info?: string;
}
---

<div class={Astro.props.class}>
  <h4 class="break-before-avoid-page text-xl font-medium">
    {Astro.props.name}
  </h4>
  <p class="break-before-avoid-page text-base text-tapa-600">
    {Astro.props.desc}
  </p>
  {
    Astro.props.info ? (
      <p class="break-before-avoid-page text-sm text-tapa-500">
        {Astro.props.info}
      </p>
    ) : null
  }
  <slot />
</div>
