---
import { twMerge } from "tailwind-merge";
import Collapsible from "./collapsible.astro";
import HistoryItem from "./history-item.astro";
import HistorySection from "./history-section.astro";

interface Props {
  class?: string;
}
---

<div class={twMerge("flex flex-col gap-6", Astro.props.class)}>
  <HistorySection
    class="mb-4 flex flex-col gap-4"
    legend="Professional Experience"
  >
    <HistoryItem
      name="Principal Software Engineer"
      desc="Aug 2019 – Mar 2024 | PT Dwi Cermat Indonesia (Cermati.com)"
      info="Worked on the digitization of financial services and as a super-app enabler for banks"
    />

    <HistoryItem
      name="Full Stack Web Developer Intern"
      desc="Jul 2018 – Jan 2019 | Frisidea Tech"
      info="Developing dormitory management system with Laravel"
    />
  </HistorySection>

  <HistorySection class="mb-4 flex flex-col gap-4" legend="Education">
    <HistoryItem
      name="Yoshida Institute of Japanese Language"
      desc="Apr 2024 – Present | N2 Language Course"
      info="Current Class: Task-based Learning"
    />
    <HistoryItem
      name="Universitas Multimedia Nusantara"
      desc="Aug 2015 – Dec 2019 | Computer Engineering Bachelor"
      info="Graduated summa cum laude (GPA 3.96) as the top student in Graduation XVI"
    />
  </HistorySection>

  <HistorySection
    class="mb-4 flex flex-col gap-4"
    legend="Qualifications & Achievements"
  >
    <HistoryItem
      name="Japanese Language Proficiency Test (N3)"
      desc="Jul 2024 | Language Certification"
      info="Registration No.: 133433094"
    />
    <HistoryItem
      name="Red Hat Certified System Administrator v8"
      desc="Jul 2019 | Red Hat, Inc. System Administration  Certification"
      info="Certification ID: 190-181-198"
    />
    <HistoryItem
      name="Huawei Certified Network Associate"
      desc="Sep 2018 | HAINA Networking Certification"
      info="Test No: H12-211"
    />

    <Collapsible class="-mt-1 print:hidden" legend="More">
      <HistoryItem
        name="Huawei Routing & Switching Competition Winner"
        desc="Dec 2018 | Local Competition | 1st Place"
        info="Prize: Trip to Huawei HQ at Shenzhen, China"
      />
      <HistoryItem
        name="XL Business Solution IoT Hackathon Winner"
        desc="Sep 2018 | National Competition | 3rd Place"
        info="Prize: IDR 2.500.000"
      />
      <HistoryItem
        name="Study Visit Participant to RFH Köln, Germany"
        desc="Apr 2019 | Study Visits by Groups of Foreign Students, by DAAD"
        info="Prize: 12-day trip to Köln"
      />
    </Collapsible>
  </HistorySection>
</div>
