---
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";
import { twMerge } from "tailwind-merge";

import PortraitImage from "../../public/portrait.png";

interface Props {
  class?: string;
}
---

<section class={twMerge("flex flex-col", Astro.props.class)}>
  <div class="flex-grow-0 bg-treehouse-200">
    <Picture src={PortraitImage} alt="Portrait picture of William Darian" />
  </div>
  <div class="flex flex-col gap-4 bg-treehouse-950 p-4 text-tapa-50">
    <div class="flex gap-2">
      <Icon name="tabler:mail" class="flex-shrink-0" size={32} />
      <div>
        <h3 class="text-xl font-bold">E-Mail</h3>
        <a
          href="mailto:williamdariansutedjo@gmail.com"
          class="text-sm font-light underline print:no-underline"
        >
          williamdariansutedjo&ZeroWidthSpace;@gmail.com
        </a>
      </div>
    </div>
    <hr class="border-t-2 text-tapa-700" />
    <div class="flex gap-2">
      <Icon name="tabler:phone" class="flex-shrink-0" size={32} />
      <div>
        <h3 class="text-xl font-bold">Phone</h3>
        <a
          href="tel:+818021423440"
          class="text-sm font-light underline print:no-underline"
        >
          (+81) 80-2142-3440
        </a>
      </div>
    </div>
    <hr class="border-t-2 text-tapa-700" />
    <div class="flex gap-2">
      <Icon name="tabler:brand-whatsapp" class="flex-shrink-0" size={32} />
      <div>
        <h3 class="text-xl font-bold">WhatsApp</h3>
        <a
          href="https://wa.me/6282110778832"
          class="text-sm font-light underline print:no-underline"
        >
          (+62) 821-1077-8832
        </a>
      </div>
    </div>
    <hr class="border-t-2 text-tapa-700" />
    <div class="flex gap-2">
      <Icon name="tabler:home" class="flex-shrink-0" size={32} />
      <div>
        <h3 class="text-xl font-bold">Address</h3>
        <a
          href="https://maps.app.goo.gl/BS5bjCqPCyCLWvQd6"
          class="text-sm font-light underline print:no-underline"
        >
          <address>1-51-3 Higashi Nakano Nakano-ku, Tokyo-to 164-0003</address>
        </a>
      </div>
    </div>
  </div>
</section>
