---
import { twMerge } from "tailwind-merge";

interface Props {
  class?: string;
}
---

<div
  class={twMerge(
    "embla__slide min-w-0 flex-shrink-0 flex-grow-0",
    Astro.props.class,
  )}
>
  <slot />
</div>
